<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EMPRESTIMO</title>
</head>
<body>
	<h1>Gerenciar Clientes!</h1>
	<a th:href="@{/clientes/novocliente}">Cadastrar novo cliente</a><br><br>
	<a th:href="@{/clientes/todosclientes}">Clientes do banco!</a><br><br>
	<a th:href="@{/relatorios/todosclientes}">Gerar relatorio de clientes!</a><br><br>
	<hr>

</body>
</html>
