<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>EMPRESTIMO</title>
</head>
<body>
	<h1>BANK MANAGER!</h1>
	<a th:href="@{/gerenciaremprestimo}">Gerenciar Emprestimos</a><br><br>
	<hr>
	<a th:href="@{/gerenciarcliente}">Gerenciar Clientes</a><br><br>
	<hr>
	<a th:href="@{/gerenciarseguranca}">Gerenciar Segurança</a><br><br>
</body>
</html>
